*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

.e-container{
    background-color:white;
    width:100vw;
    height:100vh;
    display:flex;
    flex-flow:column;
    overflow:hidden;
align-items:center;
    justify-content:flex-start;
    gap:30px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.card {
    background-color: white;
    width: 150px;
    height: 150px;
/*     opacity: 10%; */
}

.card1 {
    opacity: 50%;
}

.card2 {
    opacity: 60%;
}

.card3 {
    opacity: 75%;
}

.card4 {
    opacity: 90%;
}

.card5 {
    opacity: 100%;
}

button{
    margin:20px 0;
    width:fit-content;
    height:30px;
    background-color:black;
    border:3px solid white;
    border-radius:6px;
    color:white;
}
